<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929758599860-7hja91rfmg9dg49vg4ksjeigbhu96j9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929758599860-7hja91rfmg9dg49vg4ksjeigbhu96j9k</string>
	<key>API_KEY</key>
	<string>AIzaSyC-VyGqygUC6DPhktl7N60cVLjfpjcK5D8</string>
	<key>GCM_SENDER_ID</key>
	<string>929758599860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lovely.iChat2</string>
	<key>PROJECT_ID</key>
	<string>ichat2-23e33</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat2-23e33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929758599860:ios:4e6a0d183ed70fd62255e1</string>
	<key>DATABASE_URL</key>
	<string>https://ichat2-23e33.firebaseio.com</string>
</dict>
</plist>